# **LOOPING STATEMENTS EXERCISE**

### 1. Print -10 to -1 using for loop

In [3]:
for i in range (-10,0):
    print("i = %d" %i)

i = -10
i = -9
i = -8
i = -7
i = -6
i = -5
i = -4
i = -3
i = -2
i = -1

### 2. Using while loop print numbers 1 to 10

In [2]:
i = 1
while i < 11:
    print("i = %d" %i)
    i += 1

i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9
i = 10

### 3. Using for loop print first ten even numbers

In [14]:
a = int(input("Enter the total loop: "))
for i in range (2, (a * 2) + 1, 2):
    print("i = %d" %i)

i = 2
i = 4
i = 6
i = 8
i = 10
i = 12
i = 14
i = 16
i = 18
i = 20

### 4. Using while loop generate the table of 5

In [29]:
i = 202
while i < 321:
    if i % 7 == 0 and i % 5 != 0:
        print("Angka angkanya = ", i)
    i += 1

Angka angkanya =  203
Angka angkanya =  217
Angka angkanya =  224
Angka angkanya =  231
Angka angkanya =  238
Angka angkanya =  252
Angka angkanya =  259
Angka angkanya =  266
Angka angkanya =  273
Angka angkanya =  287
Angka angkanya =  294
Angka angkanya =  301
Angka angkanya =  308

### 5. Using for loop generate the table of 8

In [24]:
for i in range(202, 321):
    if i % 7 == 0 and i % 5 != 0:
        print("Angka angkanya = ", i)

Angka angkanya =  203
Angka angkanya =  217
Angka angkanya =  224
Angka angkanya =  231
Angka angkanya =  238
Angka angkanya =  252
Angka angkanya =  259
Angka angkanya =  266
Angka angkanya =  273
Angka angkanya =  287
Angka angkanya =  294
Angka angkanya =  301
Angka angkanya =  308

### 6. For numbers 1 to 100, if a number is divisible by 3, then print Fizz.
### If a number is divisible by 5, then print Buzz.
### If a number is divisible by 3 and 5 both, then print FizzBuzz
### If a number is neither divisible by 3 or 5, just print the number.

Hint: use range(1,101) function  to generate numbers from 1 to 100

In [4]:
for i in range (1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 5 == 0:
        print("Buzz")
    elif i % 3 == 0:
        print("Buzz")
    else:
        print("i = %d" %i)

i = 1
i = 2
Buzz
i = 4
Buzz
Buzz
i = 7
i = 8
Buzz
Buzz
i = 11
Buzz
i = 13
i = 14
FizzBuzz
i = 16
i = 17
Buzz
i = 19
Buzz
Buzz
i = 22
i = 23
Buzz
Buzz
i = 26
Buzz
i = 28
i = 29
FizzBuzz
i = 31
i = 32
Buzz
i = 34
Buzz
Buzz
i = 37
i = 38
Buzz
Buzz
i = 41
Buzz
i = 43
i = 44
FizzBuzz
i = 46
i = 47
Buzz
i = 49
Buzz
Buzz
i = 52
i = 53
Buzz
Buzz
i = 56
Buzz
i = 58
i = 59
FizzBuzz
i = 61
i = 62
Buzz
i = 64
Buzz
Buzz
i = 67
i = 68
Buzz
Buzz
i = 71
Buzz
i = 73
i = 74
FizzBuzz
i = 76
i = 77
Buzz
i = 79
Buzz
Buzz
i = 82
i = 83
Buzz
Buzz
i = 86
Buzz
i = 88
i = 89
FizzBuzz
i = 91
i = 92
Buzz
i = 94
Buzz
Buzz
i = 97
i = 98
Buzz
Buzz

In [4]:
for i in range (1, 101):
    if i % 3 and i < 50:
        print("NO")
    elif i % 2 == 0 and i <= 50:
        print("OK")
    elif i % 3 == 0 and i > 50:
        print(i)
    elif i % 2 == 0 and i > 50:
        print(i)
    else:
        print("i = %d" %i)

NO
NO
i = 3
NO
NO
OK
NO
NO
i = 9
NO
NO
OK
NO
NO
i = 15
NO
NO
OK
NO
NO
i = 21
NO
NO
OK
NO
NO
i = 27
NO
NO
OK
NO
NO
i = 33
NO
NO
OK
NO
NO
i = 39
NO
NO
OK
NO
NO
i = 45
NO
NO
OK
NO
OK
51
52
i = 53
54
i = 55
56
57
58
i = 59
60
i = 61
62
63
64
i = 65
66
i = 67
68
69
70
i = 71
72
i = 73
74
75
76
i = 77
78
i = 79
80
81
82
i = 83
84
i = 85
86
87
88
i = 89
90
i = 91
92
93
94
i = 95
96
i = 97
98
99
100

### 7.  Using the range function find the sum of all numbers from 1 to 100.
    For the numbers in the range (1,100):1+2+3+4+5......+100 = 5050

In [59]:
for i in range(1 , 101):
    print(i , end = ' ')
print("\nJumlah semua angka = ", sum(range(1,101)))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100
Jumlah semua angka =  5050

### 8. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 202 and 320 (both included).

In [23]:
for i in range(202, 321):
    if i % 7 == 0 and i % 5 != 0:
        print("Angka angkanya = ", i)

Angka angkanya =  203
Angka angkanya =  217
Angka angkanya =  224
Angka angkanya =  231
Angka angkanya =  238
Angka angkanya =  252
Angka angkanya =  259
Angka angkanya =  266
Angka angkanya =  273
Angka angkanya =  287
Angka angkanya =  294
Angka angkanya =  301
Angka angkanya =  308

### 9. Python Program to count the number of vowels in a string.
st = "Data Science"

Output: No of vowels = 5

In [1]:
st = "Data Science"
vokal = "aiueoAIUEO"
count = 0
for i in st:
    if i in vokal:
        count += 1
print("\r\nJumlah semua vocal = ", count)

Jumlah semua vocal =  5

### 10. Print Data Science 5 times using for loop

In [1]:
for i in range(5):
    print("Data Science")

Data Science
Data Science
Data Science
Data Science
Data Science